<div class="navbar-fixed-top navbar  main-nav">
  <ul class="nav nav-tabs">
    <li role="presentation">
      <a [routerLink]="['/home']"> {{'navTop1'|translate}}</a>
    </li>
    <li role="presentation">
      <a [routerLink]="['/login']"> {{'navTop2'|translate}}</a>
    </li>
    <li role="presentation">
      <a [routerLink]="['/detail']"> {{'navTop3'|translate}}</a>
    </li>
  </ul>
  <!--<div class="clearfix"></div>-->
  <div> <button class="pull-right" (click)="changeLang()">切换语言</button></div>
</div>
<div class="navbar-fixed-left pull-left">
  <ul class="navbar-header">
    <li class="navbar-link">
      <a>{{'navLeft1'|translate}}</a>
    </li>
    <li class="navbar-link">
      <a>{{'navLeft2'|translate}}</a>
    </li>
    <li class="navbar-link">
      <a>{{'navLeft3'|translate}}</a>
    </li>
  </ul>
</div>
<div class="container main-container">
  <div>{{ 'HELLO1' | translate }}</div>
  <div translate>HELLO2</div>
  <router-outlet></router-outlet>
</div>

